 <!-- Banner Start -->
<div class="container-fluid mb-5" id="showbanner">
    <div class="row border-top px-xl-5">
        <div class="col-12">
            <div class="main-banner">
                <div class="owl-carousel main-banner-carousel owl-loaded">
                    <div class="owl-stage-outer">
                        <div class="owl-stage">
                            <div class="owl-item">
                                <img src="~/uploads/banners/cat-banner-1.jpg" />
                            </div>
                            <div class="owl-item">
                                <img src="~/uploads/banners/cat-banner-2.jpg" />
                            </div>
                            <div class="owl-item">
                                <img src="~/uploads/banners/cat-banner-3.jpg" />
                            </div>
                            <div class="owl-item">
                                <img src="~/uploads/banners/cat-banner-3.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->