 <!-- Navbar Start -->
<div class="contaienr-fluid menu-parent">
    <div class="row">
        <div class="col-lg-12">
            <div class="menu-container">
                <div class="menu">
                    <ul>
                        <li><a class="title-menu" href="#">Trang Chủ</a></li>
                        <li>
                            <a class="title-menu" href="#">Sản Phẩm</a>
                            <ul>
                                <li>
                                    <a href="#">Laptop</a>
                                    <ul>
                                        <li><a href="#">MACBOOK</a></li>
                                        <li><a href="#">ASUS</a></li>
                                        <li><a href="#">DELL</a></li>
                                        <li><a href="#">LENOVO</a></li>
                                        <li><a href="#">HP</a></li>
                                        <li><a href="#">MICROSOFT</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">MACBOOK</a>
                                    <ul>
                                        <li><a href="#">Macbook Pro</a></li>
                                        <li><a href="#">Macbook Air</a></li>
                                        <li><a href="#">Macbook Retina</a></li>
                                        <li><a href="#">Macbook M4</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">ASUS</a>
                                    <ul>
                                        <li><a href="#">Undergraduate research</a></li>
                                        <li><a href="#">Masters research</a></li>
                                        <li><a href="#">Funding</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a class="title-menu" href="#">Giới Thiệu</a>
                            <ul>
                                <li><a href="#">Today</a></li>
                                <li><a href="#">Calendar</a></li>
                                <li><a href="#">Sport</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="title-menu" href="">Liên Hệ</a>
                            <ul>
                                <li>
                                    <a href="#">School</a>
                                    <ul>
                                        <li><a href="#">Lidership</a></li>
                                        <li><a href="#">History</a></li>
                                        <li><a href="#">Locations</a></li>
                                        <li><a href="#">Careers</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Study</a>
                                    <ul>
                                        <li><a href="#">Undergraduate</a></li>
                                        <li><a href="#">Masters</a></li>
                                        <li><a href="#">International</a></li>
                                        <li><a href="#">Online</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Study</a>
                                    <ul>
                                        <li><a href="#">Undergraduate</a></li>
                                        <li><a href="#">Masters</a></li>
                                        <li><a href="#">International</a></li>
                                        <li><a href="#">Online</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Empty sub</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>